@page
@model WebApp_UnderTheHood.Pages.SettingsModel
@{
}

<div class="container align-content-center">
    <h2 class="display-2">Settings Page</h2>
    <p class="display-4">Here are the Settings ...</p>    
</div>