@page
@model WebApp_UnderTheHood.Pages.Account.AccessDeniedModel
@{
}
<div class="container">
    <h2>
        Access Denied
    </h2>

    <p>You don't have access to the page you are looking for</p>
</div>